body{
    display: flex;
    justify-content: center;
    margin-top: 100px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1em;
}
.card{
    background-color: hsl(47, 93%, 94%);
    width: 370px;
    height: 500px;
    border-radius: 100px;
    overflow: hidden;
}

.card img{
    height: 65%;
    position: relative;
    right: 50px;
}

.contDescription{
    margin: 0 20px;
    display: flex;
    flex-wrap: wrap;
    text-align: center;

}

.desc{
    flex-grow: 2;
    font-weight: bold;
    font-size: 1.5em;
}
.regular{
    font-weight: normal;
    font-size: 0.8em;
}
.price{
    font-size: 1.5em;
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

#contButton{
    flex-basis: 100%;
}

button{
    background-color: #FFDF7E;
    border: none;
    border-radius: 50px;
    width: 200px;
    height: 40px;
    font-size: 1.2em;
}